:root {
  --color-primary: #406e8e;
  --color-primary-light: #006297;
  --color-primary-dark: #002554;
  --color-secondary: #00cc99;
  --color-grey-light-1: #f6f6f6;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-white: #ffffff;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: lightgray;
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

.container {
  background-color: var(--color-grey-light-1);
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 100vh repeat(2, 1fr);
  grid-column-gap: 0.5rem; }

.navbar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: var(--color-primary-light); }

.header {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: var(--color-primary-dark);
  display: grid; }
  .header__text {
    grid-column: 1 / 5;
    font-size: 4rem;
    font-weight: 200;
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-secondary); }
  .header__img {
    grid-column: 5 / 9;
    background-color: var(--color-primary-dark); }

.main {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: var(--color-grey-light-1); }

.footer {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background-color: var(--color-primary-dark);
  color: var(--color-grey-light-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.2rem; }
  .footer__icons {
    margin: 0.5rem;
    padding: 0.5rem; }
  .footer a {
    text-decoration: none;
    color: inherit;
    margin: 0.2rem;
    cursor: pointer; }
