:root {
  --color-primary: #406e8e;
  --color-primary-light: #006297;
  --color-primary-dark: #002554;
  --color-secondary: #00cc99;
  --color-grey-light-1: #f6f6f6;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-white: #ffffff;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: lightgray;
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn {
  height: 3rem;
  width: 10rem;
  border-radius: 2rem;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-primary-dark);
  color: var(--color-secondary);
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  padding-top: .5rem;
  transition: all .3s; }
  .btn:hover {
    transform: translateY(-0.5rem); }

.container {
  background-color: var(--color-grey-light-1);
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 6rem calc(100vh - 6rem) repeat(2, 1fr);
  grid-column-gap: 0.5rem; }

.navbar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: var(--color-primary-dark);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem; }
  .navbar__item {
    list-style: none;
    display: inline;
    margin-right: 3rem; }
  .navbar__link {
    text-decoration: none;
    color: inherit; }
    .navbar__link:hover {
      color: var(--color-secondary);
      transition: all .4s;
      border-bottom: 1px solid var(--color-secondary); }

.header {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: var(--color-primary-dark);
  display: grid; }
  .header__text {
    grid-column: 1 / 5;
    font-size: 4rem;
    font-weight: 200;
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 14rem; }
    .header__text__main {
      animation: moveInLeft 3s; }
    .header__text__sub {
      animation: moveInRight 3s; }
  .header__img {
    grid-column: 5 / 9;
    background-color: var(--color-primary-dark);
    display: flex;
    justify-content: center;
    position: relative; }
    .header__img__container--1 {
      position: absolute;
      top: 10rem;
      left: -10rem;
      z-index: 1; }
      .header__img__container--1:hover {
        z-index: 3; }
    .header__img__container--2 {
      position: absolute;
      top: 20rem;
      left: 0rem;
      z-index: 2; }
    .header__img * > :hover {
      transform: scale(1.05);
      filter: none;
      transition: all .3s; }
    .header__img__vscode {
      height: 30rem;
      border-radius: 1rem;
      filter: blur(0.05rem);
      box-shadow: var(--shadow-dark); }
    .header__img__laptop {
      height: 30rem;
      border-radius: 1rem;
      filter: blur(0.08rem); }
  .header__btn {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    margin-top: 20rem;
    text-align: center; }

.main {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: var(--color-grey-light-1); }
  .main__projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .main__projects__img {
      grid-column: 1 / 2; }
      .main__projects__img--1 {
        width: 100%; }
    .main__projects__desc {
      grid-column: 2 / 3;
      padding: 1.5rem;
      font-size: 1.2rem; }
      .main__projects__desc__p {
        margin: 1rem 0; }

.footer {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background-color: var(--color-primary-dark);
  color: var(--color-grey-light-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.0rem; }
  .footer__icons {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.2rem; }
  .footer a {
    text-decoration: none;
    color: inherit;
    margin: 0.2rem;
    cursor: pointer; }
