.btn {
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-primary-dark);
    color: var(--color-secondary);
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    padding-top: .5rem;

    transition: all .3s;

    &:hover {
        transform: translateY(-.5rem);   
    }

    // &:onclick {
    //     transform: translateY(.5rem);
    // }
}

i {
    font-size: 4rem;
    
}