.container {
    background-color: var(--color-primary-dark);
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 6rem calc(100vh - 6rem) 1fr max-content;
    grid-column-gap: 0.5rem;
}

.navbar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: var(--color-primary-dark);
    opacity: .85;
    //border-bottom: 1px solid var(--color-secondary);
    font-size: 1.5rem;
    
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;

    padding: 1rem;

 

    &__item {
        list-style: none;
        display: inline;
        margin-right: 3rem;

    }

    &__link {
        text-decoration: none;
        color: inherit;

        &:hover{
            color: var(--color-secondary);
            transition: all .4s;
            //transform: translateY(10px);
            border-bottom: 1px solid var(--color-secondary);
        }
        
    }

}

.header {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: var(--color-primary-dark);


    display: grid;
   
    

    &__text {
        grid-column: 1 / 5;
        font-size: 4rem;
        font-weight: 200;
        color: var(--color-secondary);
        //text-transform: uppercase;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 14rem;
     

        //border-right: 1px solid var(--color-secondary);
        //background-color: orangered;
       

        &__main {
            
            animation: moveInLeft 3s;
        }

        &__sub {
            
            animation: moveInRight 3s;
        }
    }

    &__img {
        grid-column: 5 / 9;
        background-color: var(--color-primary-dark);

        display: flex;
        justify-content: center;
        position: relative;
        // overflow: hidden;
     

        &__container--1 {
    
            position: absolute;
            top: 10rem;
            left: -10rem;

            z-index: 1;

            &:hover {
                z-index: 3;
            }

                        
        }
        
        &__container--2 {
    
            position: absolute;
            top: 20rem;
            left: 0rem;
        
            z-index: 2;
        }

        * > {

            :hover{
                //transform: translateY(-1rem);
                transform: scale(1.05);
                filter: none;
                transition: all .3s;
            }
        }
        
        &__vscode{
            height: 30rem;
            border-radius: 1rem;
            filter: blur(0.05rem);
            box-shadow: var(--shadow-dark);

        }

        &__laptop{
            height: 30rem;
            border-radius: 1rem;
            filter: blur(0.08rem);

        }
    }

    &__btn {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        margin-top: 20rem;
        text-align: center;
        //align-items: flex-end;
    }
}

.main {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    background-color: var(--color-grey-light-1);

   

    &__projects {

        // display: grid;
        // grid-template-columns: repeat(3, 1fr);

        &__row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border-bottom: var(--line);
        }

        &__img {
            grid-column: 1 / 2;

            &--1 {
                width: 100%;
            }

            &--2 {
                width: 100%;
            }
        }

        &__desc {
            grid-column: 2 / 3;
            padding: 1.5rem;
            font-size: 1.2rem;
            

            &__p {
                margin: 1rem 0;
                
            }
        }

        &__tech {
            grid-column: 3 / 4;
            padding: 1.5rem;
            font-size: 1.2rem;
        }
    }
}

.footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    background-color: var(--color-primary-dark);
    color: var(--color-grey-light-4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    font-size: 1.0rem;

    &__icons{
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 2.2rem;
    }

    a {
        text-decoration: none;
        color: inherit;
        margin: 0.2rem;
        cursor: pointer;
    }
}